Miacid-Project1 - Version 3/_UpgradeReport_Files/
Miacid-Project1 - Version 3/debug/
Miacid-Project1 - Version 3/Miacid-Project1 - Version 2/Debug
Miacid-Project1 - Version 3/Miacid-Project1 - Version 2.ncb
Miacid-Project1 - Version 3/Miacid-Project1 - Version 2.sln
Miacid-Project1 - Version 3/Miacid-Project1 - Version 2.sln.old
Miacid-Project1 - Version 3/Miacid-Project1 - Version 2.suo
Miacid-Project1 - Version 3/Miacid-Project1 - Version 2.suo.old
Miacid-Project1 - Version 3/UpgradeLog.XML

